/* mobile devices max-width:688px */
@media screen  and (max-width:688px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    nav{
        background-color: #eff3f3;
        padding: 0;
    }
    .header-menu{
        position: absolute;
        background-color: #eff3f3;
        left: 0;
        height:92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(100%);
        
    }
    span  .fa-cart-arrow-down{
        display: block;
    }
    .menu-bar{
        display: block;
        cursor: pointer;
    }
    .menu-bar:hover ~ .header-menu{
        transform: translateX(0%);
        transition: transform 0.7s linear ;  
    } 
};
/* tablet device min-width:688px to max-width:992px */
/* @media screen and (min-width:688px) and (max-width:992px)  {
    .header-menu{
        width: 40%;
    }
    .header-heading{
        color: red;
    }
}; */