

/* mobile devices max-width:688px */
@media (max-width:688px){
    /* body{
        overflow-x: hidden;
        overflow-y: hidden;
    } */
    nav{
        background-color: #eff3f3;
        padding: 0;
    }
    .header-menu{
        position: absolute;
        width: 20%;
        background-color: #eff3f3;
        z-index: 1;
        left: 0;
        height:92vh;
        top:10.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        
    }
    .header-menu li{
        position: relative;
        right: 20px;
    }
    span  .fa-cart-arrow-down{
        display: block;
    }
    .menu-bar{
        display: block;
        cursor: pointer;
    }
    .menu-bar:hover ~ .header-menu{
        transform: translateX(-0%);
        transition: transform 0.7s linear ;  
    } 

    .article-one{
        flex-direction: column;
        text-align: center;
        
    }
    .blog-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        
    }
    .blog-heading{
        width: 190%;
    }
    .blog-para{
        width: 130%;
        position: relative;
    }
    .logo-img{
       justify-content: center;
       position: relative;
       left: 50px;
    }
    .logo-img img{
        padding-right: 40px;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .see-more-button{
        left: 250px;
        bottom: 15px;
    }
};
/* tablet device min-width:689px to max-width:992px */
@media (min-width:689px) and (max-width:992px){
    /* body{
        overflow-x: hidden;
        overflow-y: hidden;
    } */
    nav{
        background-color: #eff3f3;
        padding: 0;
    }
    .header-menu{
        position: absolute;
        width: 20%;
        background-color: #eff3f3;
        left: 0;
        height:92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        
    }
    .header-menu li{
        position: relative;
        right: 20px;
    }
    span  .fa-cart-arrow-down{
        display: block;
    }
    .menu-bar{
        display: block;
        cursor: pointer;
    }
    .menu-bar:hover ~ .header-menu{
        transform: translateX(-0%);
        transition: transform 0.7s linear ;  
    } 

    .article-one{
        flex-direction: column;
        text-align: center;
        
    }
    .blog-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        
    }
    .blog-heading{
        width: 190%;
    }
    .blog-para{
        width: 130%;
        position: relative;
    }
    .logo-img{
       justify-content: center;
       position: relative;
       left: 50px;
    }
    .logo-img img{
        padding-right: 40px;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .see-more-button{
        left: 250px;
        bottom: 15px;
    }
};
  